doctype html
html
  head
    title 海外站
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    block style
  body
    block content
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    block script